image: python:latest

services:
  - selenium/standalone-chrome

before_script:
  - python -V
  - pip install -r requirements.txt

stages:
  - test

test:
  stage: test
  script:
  - SELENIUM_REMOTE_ADDRESS="http://selenium__standalone-chrome:4444/wd/hub"
  - DJANGO_LIVE_TEST_SERVER_ADDRESS="localhost:8050"
  - cd xb1
  - python ./manage.py test