# Virtual-env folder
xb1_env
venv

# Database
*.sqlite3

# Python compiled bytecode
*.pyc

# Python cache files
__pycache__/

# Static Root folder
staticRoot

# IDE settings
.vscode
.idea

# Password settings files
passwords.py

# Images
profile_image/
thumbnails/