stages:
  - test

test:
  stage: test
  script:
  - apk update
  - apk add python3
  - apk add --no-cache --update python3
  - apk add --no-cache --update python3-dev gcc jpeg-dev zlib-dev musl-dev
  - pip3 install --upgrade pip setuptools
  - pip3 install -r requirements.txt
  - cd xb1
  - python3 manage.py test