# stages:
#   - test

# test:
#   stage: test
#   script:
#   - apk update
#   - apk add python3
#   - apk add --no-cache --update python3
#   - apk add --no-cache --update python3-dev gcc jpeg-dev zlib-dev musl-dev
#   - pip3 install --upgrade pip setuptools
#   - pip3 install -r requirements.txt
#   - cd xb1
image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_SLUG
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest

stages:
  - test
  - build
  - release

test:
  stage: test
  image: tiangolo/docker-with-compose
  script:
    - docker-compose -f gitlab_ci_config/test.yml up -d --build
    # - docker-compose exec web python manage.py migrate
    - docker-compose -f gitlab_ci_config/test.yml down -v

build:
  stage: build
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - echo $CONTAINER_TEST_IMAGE
    - docker build -t $CONTAINER_TEST_IMAGE -f compose/production/django/Dockerfile .
    - docker push $CONTAINER_TEST_IMAGE

release:
  stage: release
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker pull $CONTAINER_TEST_IMAGE
    - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
    - docker push $CONTAINER_RELEASE_IMAGE
  only:
    - master
