version: '3.7'

services:
  web:
    build:
      context: ./xb1
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    command: gunicorn xb1.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/xb1/web/xb1/staticfiles
      - media_volume:/home/xb1/web/xb1/media
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.db_backup.schedule: "@weekly"
      ofelia.job-exec.db_backup.command: 'sh -c "python3 manage.py dumpdata --all --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > dumps/$$(date +%F-%R).json"'
      ofelia.job-exec.article_update.schedule: "@daily"
      ofelia.job-exec.article_update.command: "python3 manage.py update_articles"
  db:
    image: postgres:12.0-alpine
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - static_volume:/home/xb1/web/xb1/staticfiles
      - media_volume:/home/xb1/web/xb1/media
    ports:
      - 1337:80
    depends_on:
      - web
  ofelia:
    image: mcuadros/ofelia:latest
    restart: unless-stopped
    depends_on:
      - web
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  postgres_data:
  static_volume:
  media_volume:
