{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block include %}
    <link rel="stylesheet" href="{% static 'css/shopAdd.css' %}">
{% endblock %}

{% block content %}
    <div class = "shopAdd_form">
        <h1>{% trans "Update product" %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span>{{ form.name.label }} {{ form.name }}</span>
            <span>{{ form.desc.label }} {{ form.desc }}</span>
            <span>{{ form.image.label }} {{ form.image }}</span>
            <span>{{ form.price.label }} {{ form.price }}</span>
            <span>{{ form.till.label }} {{ form.till }}</span>
            <span>{{ form.specificationname.label }} {{ form.specificationname }}</span>
            <span>{{ form.specificationvalue.label }} {{ form.specificationvalue }}</span>
            <button type="submit">{% trans "Update" %}</button>
        </form>
    </div>
{% endblock %}
