{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block include %}
    <link rel="stylesheet" href="{% static 'css/shopAdd.css' %}">
{% endblock %}

{% block content %}
    <div class = "shopAdd_form">
        <h1>{% trans "New product" %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span>{{ form.since.label }} {{ form.since }}</span>
            <span>{{ form.till.label }} {{ form.till }}</span>
            <button type="submit">{% trans "Create" %}</button>
        </form>
    </div>
{% endblock %}
