{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block include %}
    <link rel="stylesheet" href="{% static 'css/manageOrder.css' %}" >
{% endblock %}
{% block content %}
    <div class = "shopAdd_form">
        <h1>{% trans "Order products" %}</h1>
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div style="color: red;">
                            {{ field.label_tag }} <br>
                            {{ field }}<br> 
                        </div>
                    {% else %}
                        {{ field.label_tag }} <br>
                        {{ field }}<br>
                    {% endif %}
                {% endfor %}
            <button class="order_btn" type="submit">{% trans "Create order" %}</button>
            <a href="{% url 'shop:shopView' %}" class="order_btn">{% trans 'Back' %}</a>
        </form>
    </div>
{% endblock %}
