{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/orders_list.css' %}">
<script defer src="{% static 'js/orders_list.js' %}"></script>
{%endblock%}

{%block content %}

{% if object_list %}
<div id="orders-list">
	<div class="responsive-table-wrapper">
		<table>
			<thead>
				<tr>
					<th>{% trans "First Name" %}</th>
					<th>{% trans "Last Name" %}</th>
					<th>{% trans "Email" %}</th>
					<th>{% trans "VS" %}</th>
					<th>{% trans "TotalPrice" %}</th>
					<th>{% trans "Payed" %}</th>
					<th>{% trans "Detail" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for order in object_list %}
				<tr>
					<td>{{ order.firstname }}</td>
					<td>{{ order.lastname }}</td>
					<td class="order-email">{{ order.email }}</td>
					<td>{{ order.payment.variableSymbol }}</td>
					<td>{{ order.cart.total }},-</td>
					{% if order.payment.received %}
						<td><i class="success-green fas fa-check"></i></td>
					{% else %}
						<td><i class="error-red fa fa-times"></i></td>
					{% endif %}
					<td><a href="{% url 'shop:orderTracker' slug=order.slug %}"><i class="fas fa-info"></i> {% trans "Detail" %}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% endblock %}


{% block modal %}
<h1>{% trans "Delete order" %}</h1>
<p>{% trans "Are you sure you want to delete order with email address:" %} <strong></strong>?</p>
<p>{% trans "This action can't be undone!" %}</p>

<form action="" method="POST">
	{% csrf_token %}
	<button>{% trans "Confirm" %}</button>
</form>
{% endblock %}
