{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/user_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/article_comments.css' %}" >

{% endblock %}
{%block content %}

<div class="user_list_content">
    {% for comment in object_list  %}
            <h3 style="margin-bottom: 0px;">{{comment.article.title}}</h3>
        {% if not comment.is_censured %}
            <div class="comment_text">
                {{comment.author}}: {{comment.text }}
            </div>
            <a style="margin-top: 5px;" href="{% url 'articles:ban_comment' pk=comment.id %}">
                <button class="profile_btn">
                    {% trans "Censure" %} <i class="fas fa-ban" style="font-size: 12px;"></i>
                </button>
            </a>
        {% else %}
            <div class="comment_text">
                {{comment.author}} - {% trans "Banned text:" %} {{comment.text }}
            </div>
            <a style="margin-top: 5px;" href="{% url 'articles:unban_comment' pk=comment.id %}">
                <button class="profile_btn">
                    {% trans "Un-censore" %} <i class="fas fa-lock-open" style="font-size: 12px;"></i>
                </button>
            </a>
        {% endif %}
              {% empty %}
            <p>Žádné komentáře.</p>
    {% endfor %}

    <div class="pagination" style="padding-top: 10px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            <span class="current">
                {% trans "Page" %}: {{ page_obj.number }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
