{% extends 'base.html' %}
{% load static %}
{% block include %}
{% load i18n %}


<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{%block content %}

<div class="profile_content">
    {% if user.is_authenticated %}
        {%if object.profile.image%}
        <img class="profile_image" src="{{ object.profile.image.url }}">
        {%else%}
        <img class="profile_image" src="{% get_media_prefix %}default.jpg">
        {%endif%}
        <form method="POST" enctype="multipart/form-data">
            <label style="font-size: 23px;">{% trans "Image" %}: {{form.image}} </label>
        <div class="profile_main">
        <h1>{% trans "Account info" %}</h1>
        <h3>{{ object.username }}</h3>
        <p>{{ object.email }}</p>

            {% csrf_token %}
            <h1>{% trans "User info" %}</h1>
                {% for field in form %}
            {% if field != form.image %}
                {{field.label_tag }}
                {{ field }}
            {% endif %}
            {% endfor %}


            <button class="profile_btn" type="submit" name="update_user">{% trans "Actualize" %}</button>
        </div>
        </form>
    {% else %}
        <h3>
            {% trans "You cannot see profile without beeing logged in." %}
        </h3>
    {% endif %}
    <h1>{% trans "User management" %}</h1>

    <a style="text-decoration: None;" href="{% url 'user_comments' pk=object.pk %}"><button class="profile_btn">{% trans "See user's comments" %}</button></a>
    <form method="POST">
        {% csrf_token %}
        {% if object.is_active %}
            <button class="profile_btn" type="submit" name="ban_user">{% trans "Ban" %}</button>
        {% else %}
            <button class="profile_btn" type="submit" name="unban_user">{% trans "Unban" %}</button>
        {% endif %}

        {% if is_user_staff_member %}
            <button class="profile_btn" type="submit" name="remove_staff_group">{% trans "Remove staff permissions." %}</button>
        {% else %}
            <button class="profile_btn" type="submit" name="set_user_as_staff">{% trans "Set staff permissions." %}</button>
        {% endif %}
    </form>

</div>

{% endblock %}
