version: '3.7'

services:
  web:
    image: gitlab.fit.cvut.cz:5000/trinhxu2/xb-1:latest
    command: gunicorn xb1.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./staticfiles:/home/xb1/web/xb1/staticfiles
      - ./media:/home/xb1/web/xb1/media
      - ./dumps:/home/xb1/web/xb1/dumps
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ../nginx
    volumes:
      - ./staticfiles:/home/xb1/web/xb1/staticfiles
      - ./media:/home/xb1/web/xb1/media
      - /etc/ssl:/etc/ssl
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web

volumes:
  postgres_data:
