#article_form form {
    margin-top: 20px;
    text-align: center;
}

#article_form table {
    padding: 20px;
    width: 90%;
    display: inline-block;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    border-collapse: separate;
    border-spacing: 0 1em;
}

#article_form tbody {
    display: block;
}

#article_form input[type=submit], 
.back {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 0.2s;
}

#article_form input[type=submit]:hover,
.back:hover {
    color: black;
    background: white;
    cursor: pointer;
}

#article_form th {
    text-align: left;
    white-space: nowrap;
    display: block;
}

#article_form td {
    text-align: left;
    width: 100%;
}

#article_form td textarea,
#article_form td input[type=text],
#article_form td select {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

#article_form tr {
    width: 100%;
    margin: 10px;
}

.django-ckeditor-widget {
    width: 100%;
}

#article_form td ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: scroll;
    background: white;
    color: black;
}

li {
    color: black;
}