.comment_section {
    width: 70%;
    height: auto;
    margin: 3rem auto;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-radius: 3rem;
    transition-property: background, box-shadow;
    transition-duration: 4s;
    padding: 3rem;
}

.comment {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    /* border-bottom: 1px solid grey; */
}

.comment_profile_pic{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: fill;
    flex: none;
}

.comment_content {
    flex: 1;
    flex-flow: column;
    text-align: left;
    padding: 10px;
}

.comment_header {
    align-items: stretch;
    display: flex;
}

.comment_nickname {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
}

.comment_date {
    display: inline;
    text-align: right;
    flex: 1;
}

.comment_text {
    margin-top: 10px;
}

.comment_reply .comment_profile_pic {
    margin-left: 10%;
}

.comment_section_button {
    margin-top: 10px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 0.2s;
}

.comment_section_button:hover {
    color: black;
    background: white;
    cursor: pointer;
}

#comment_post_form textarea {
    margin-top: 50px;
    color: white;
    outline: none;
    background: transparent;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    transition: 0.5s;
    resize: none;
    padding: 20px;
}

#comment_post_form textarea:hover {
    border: 1px solid white;
}