.articles_content {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.articles_categories {
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles_categories_slider_menu {
    border-radius: 3rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    width: 90%;
    padding: 10px;
    white-space: nowrap;
}

.article_category {
    display: inline-block;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.article_category_active {
    border-bottom: 1px solid white;
}

.slider_button {
    background: none;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.articles_list {
    flex: 1;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}