html {
    font-family: Helvetica, sans-serif;
    height: auto;
    background: white;
    background: radial-gradient( circle,
                                 rgba(48, 59, 67, 1) 0%,
                                 rgba(0, 0, 0, 1) 100%
                               );
    background-repeat: no-repeat;
    color: white;
    overflow: auto;
}

body {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}


.content {
    min-height: 100vh;
    margin-left: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 35, 44);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    #login_modal {
        width: 100%;
        height: 100%;
    }

    .modal_content {
        height: 100%;
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .modal_content > .close {
        order: 1;
        scale: 1.8;
    }
}
