html {
    font-family: Helvetica, sans-serif;
    height: auto;
    background: white;
    background: radial-gradient( circle,
                                 rgba(48, 59, 67, 1) 0%,
                                 rgba(0, 0, 0, 1) 100%
                               );
    background-repeat: no-repeat;
    color: white;
    overflow: auto;
}

body {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.alert {
    float: right;
    padding: 10px;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    position: fixed;
    margin-left: 70px;
    margin-top: 20px;
    z-index: 1;
}

.alert-info,
.alert-success {
    background-color: #32CD32;
}

.alert-warning,
.alert-debug {
    background-color: #f7a000;
}

.alert-error {
    background-color: #c83225;
}


.content {
    min-height: 100vh;
    margin-left: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 35, 44);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

#hideMe {
    -moz-animation: hide 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: hide 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: hide 0s ease-in 3s forwards;
    /* Opera */
    animation: hide 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        padding: 0;
        width:0;
        height:0;
        overflow:hidden;
    }
}
::-webkit-keyframes hide {
    to {
        padding: 0;
        width:0;
        height:0;
        visibility:hidden;
    }
}

#profile-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#profile-dropdown > img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 5px;
}

#profile-dropdown > span {
    padding: 14px 10px;
    user-select: none;
}

#profile-dropdown > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: initial;
    position: absolute;
    top: 100%;
    right: 10%;
    border-radius: 1rem;
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    background-color: #232426;
}

#profile-dropdown.collapsed > ul {
    display: none;
}

#profile-dropdown > ul > li {
    width: 100%;
    margin: 0;
}

#profile-dropdown > ul > li:first-of-type {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#profile-dropdown > ul > li:last-of-type {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#profile-dropdown > ul > li:hover {
    background-color: rgba(255,255,255,0.1);
}

#profile-dropdown > ul > li:not(:last-of-type) {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.error-red {
    color: #c80000;
}

.success-green {
    color: #32CD32
}