.contact_form button {
    margin-top: 10px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 0.2s;
}

.contact_form button:hover {
    color: black;
    background: white;
    cursor: pointer;
}

.contact_form {
    text-align: center;
    position: relative;
    padding:40px;
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.50);
    width: 50%;
    height: auto;
    margin: 70px auto;
    border-radius: 3rem;
}

.contact_form input {
    background: transparent;
    border: none;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    color: white;
    outline: none;
    width: 80%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact_form textarea {
    overflow: auto;
    resize: none;
    background: transparent;
    border: none;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    color: white;
    outline: none;
    width: 80%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h3 {
    font-size: 17px;
    font-style: italic;
}