  div.blueTable {
    border: 1px solid #1C6EA4;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  
  .divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
  }
  
  .divTable.blueTable .divTableHeading {
    background: rgb(87, 90, 92);
  }

  .divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1.5px;
  }
  
  .blueTable .tableFootStyle {
    font-size: 14px;
  }
  
  .blueTable .tableFootStyle .links {
    text-align: right;
  }
  
  .blueTable .tableFootStyle .links a{
    display: inline-block;
    background: rgb(87, 90, 92);
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
  .blueTable.outerTableFooter {
    border-top: none;
  }
  
  .blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }

  .divTable { 
    display: table; 
    max-width: 95%;
    align-self: center;
    margin: 30px 30px 30px 30px;
  }

  .divTableRow { 
    display: table-row;
   }
  
  .divTableHeading {
    display: table-header-group;
  }
  
  .divTableCell, .divTableHead { 
    display: table-cell;
  }
  
  .divTableHeading { 
    display: table-header-group;
  }
  
  .divTableFoot {
    display: table-footer-group;
  }
  
  .divTableBody { 
    display: table-row-group;
  }

  .changeButton {
    transition-duration: 0.4s;
    background-color: rgb(100, 100, 100);;
    border: none;
    padding: 8px 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    color: white;
  }
  
  .changeButton:hover {
    background-color: white;
    color: black;
  }

  .tag_button {
    transition-duration: 0.4s;
    background-color: rgb(100, 100, 100);
    letter-spacing: 1.5px;
    border: none;
    padding: 4px 7px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
}

.tableWrapper {
  width: 90%;
  height: auto;
  margin: 3rem auto;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
  border-radius: 3rem;
  transition-property: background, box-shadow;
  transition-duration: 4s;
  padding: 2rem;
}

.productImg {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}