.forum_list_content {
    flex-grow: 1;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.forum_list_topnav {
    display: flex;
    width: 91%;
    margin: 0 auto;
    margin-bottom: 10px;
    white-space: nowrap;
}

.edit_forum_button,
.new_thread_button,
.delete_forum_button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 10px;
}

.edit_forum_button .fas,
.new_thread_button .fas,
.delete_forum_button .fas {
    padding: 7px;
    margin-left: 5px;
}

.edit_forum_button {
    border: 1px solid #FFD700;
    color: #FFD700;
}

.new_thread_button {
    border: 1px solid #32CD32;
    color: #32CD32;
}

.delete_forum_button {
    border: 1px solid #c80000;
    color: #c80000;
}

.edit_forum_button .fas {
    border-left: 1px solid #FFD700;
}

.delete_forum_button .fas {
    border-left: 1px solid #c80000;
}

.new_thread_button .fas {
    border-left: 1px solid #32CD32;
}

.edit_forum_button:hover {
    color: black;
    background: #FFD700
}

.new_thread_button:hover {
    color: black;
    background: #32CD32;
}


.delete_forum_button:hover {
    color: black;
    background: #c80000;
}

.forum_thread {
    display: flex;
    margin: 6px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    padding: 10px;
}

.forum_thread:hover {
    background: rgba(255, 255, 255, 0.1);
}

.forum_thread_name {
    text-align: left;
    margin-left: 10px;
    flex: 1;
}

.forum_thread_title {
    font-size: larger;
    font-weight: bold;
}

.forum_thread_description {
    color: gray;
}

.forum_category_info {
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.forum_category_title {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 10px;
}

.forum_thread_info td {
    text-align: right;
}

.forum_thread_info td:first-child {
    text-align: left;
    padding-right: 10px;
}

.forum_thread_reply_count {
    white-space: nowrap;
}