.comments {
    text-align: left;
}

ul {
    list-style-type: none;
}

.subcomments {
  border-left: 2px solid grey;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.comment_headline h1 {
  text-align: left;
}

.comment_wrapper {
  align-self: center;
  margin-top: 1rem;
  width: 70%;
  height: auto;
}

.comment {
  margin-bottom: 10px;
  display: flex;
  flex-flow: wrap;
  /* border-bottom: 1px solid grey; */
}

.comment_profile_pic{
  margin-top: 10px;
  border-radius: 20%;
  width: 3.8rem;
  height: 3.8rem;
  object-fit: cover;
  object-position: top;
  flex: none;
}

.comment_content {
  flex: 1;
  flex-flow: column;
  text-align: left;
  padding: 10px;
}

.comment_header {
  align-items: stretch;
  display: flex;
}

.comment_nickname {
  display: inline;
  font-weight: bold;
  opacity: 0.8;
}

.comment_date {
  display: flex;
  align-items: center;
  font-size: 80%;
  color: grey;
  margin-left: 5px;
  flex: 1;
}

.comment_text {
  margin-top: 10px;
  opacity: 0.6;
}

.comment_reply .comment_profile_pic {
  margin-left: 10%;
}

.edit_button {
  margin-top: 20px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 7px 21px;
  border: 1px solid white;
  transition: 0.2s;
  text-transform: uppercase;
  opacity: 0.8;
}

.comment_section_button:hover,
.edit_button:hover {
  color: black;
  background: white;
  cursor: pointer;
}

.comment_reply_form textarea {
  margin-top: 20px;
  color: white;
  outline: none;
  background: transparent;
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  transition: 0.5s;
  resize: none;
  padding: 20px;
  width: 100%;
}

#comment_post_form textarea {
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  outline: none;
  background: transparent;
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  transition: 0.5s;
  resize: none;
  padding: 20px;
  width: 100%;
}

#comment_post_form button {
  margin-bottom: 30px;
}

#comment_post_form textarea:hover,
.comment_reply_form textarea:hover {
  border: 1px solid white;
}

.comment_section_button {
  margin-top: 10px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  border: 1px solid white;
  transition: 0.2s;
  opacity: 0.8;
}

.comment_reply_form_wrapper {
  width: 100%;
  margin-right: 20px;
}