.shopOrderBox{
	margin-top: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    transition-property: background, box-shadow;
    transition-duration: 1s;
    overflow-y: auto;
    overflow-x: hidden;
}

.shopItemBox{
    margin-top: 2rem;
    margin-bottom: 4rem;
	display: grid;
    height: auto;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    padding-top: 1rem;
	padding-bottom: 1rem;
    overflow: hidden;
    transition-property: background, box-shadow;
    transition-duration: 1s;
}

.shopItemBox > ul > li{
	width: 220px;
	height: 270px;
	display: inline-block;
	margin-left: 1rem;
	margin-top: 1rem;
	position: relative;
}

.shopItemBox > ul > li > .shopOfferItem{
    backface-visibility: hidden;
    position: absolute;
	border-radius: 1rem;
	left: 10px;
	top: 10px;
    width: 200px;
	height: 250px;
}

.shopSpecialItem{
	position: absolute;
	right: 0px;
	padding: 4px;
	border-radius: 6px;
	z-index: 1;
}

.shopSpecial3{
	background-color: #c0392b;
}

.shopSpecial0{
	background-color: #f39c12;
}

.shopSpecial1{
	background-color: #08A045;
}

.shopOfferImage{
	width: 200px;
	height: 150px;
	background-color: rgba(48, 59, 67, 1);
	border-radius: 6px 6px 0px 0px;
}

.shopOfferName{
	position: absolute;
	left: 0px;
	top: -15px;
	padding: 6px;
	background-color: #34495e;
	border-radius: 6px 6px 6px 0px;
}

.shopOfferControl{
	position: absolute;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	border-radius: 6px 0px 6px 0px;
}

.shopOfferControl > :first-child{
	background-color: #e74c3c;
}

.shopOfferControl > :last-child{
	background-color: #c0392b;
}

.shopOfferControl > *{
	padding: 6px;
	display: inline-block;
}

.shopOfferText{
	width: 100%;
	position: absolute;
	top: 150px;
	background-color: #112233;
	height: calc(100% - 150px);
	border-radius: 0px 0px 6px 6px;
	transition-property: top, height;
	transition-duration: 1s;
}

.shopOfferDesc{
	margin-top: 15px;
	text-align: left;
}

.shopOfferText:hover{
	top: 0px;
	height: 100%;
}

a{
	text-decoration: none;
	color: white;
}
