.right {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 30%;
    top: 70px;
    right: 0;
    bottom: 70px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    transition-property: background, box-shadow;
    transition-duration: 4s;
    overflow-y: auto;
    overflow-x: hidden;
    animation: 3.5s ease-out 0s 1 slideInFromRight;
}


.right:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 0px 55px 1px rgba(255,255,255,0.75);
}

.preview{
    color: white;
    text-align: left;
    font-size: 80%;
    overflow: auto;
    margin-left: 20px;
}

.preview li{
    margin-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.preview-thumb{
    float: left;
}

.preview img{
    width: 200px;
    height: auto;
}

.preview-content{
    margin-left: 210px;
}

.left{
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 60%;
    float: left;
    height: auto;
    background: rgba(255, 255, 255, 0.03);
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    box-shadow: 10px 0px 55px 1px rgba(0,0,0,0.75);
    padding: 3rem;
    overflow: hidden;
    transition-property: background, box-shadow;
    transition-duration: 4s;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.left:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 0px 55px 1px rgba(255,255,255,0.75);
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
