.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition-property: opacity, box-shadow;
    transition-duration: 3s;
    white-space: nowrap;
    text-align: center;
}

.modal_content {
    text-align: center;
    background: radial-gradient( circle, rgba(30, 35, 44, 1) 0%, rgba(13, 13, 13, 1) 100%);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
    padding: 20px 20px 50px;
    display: inline-block;
    transition: 4s;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal_content:hover {
    box-shadow: 10px 0px 55px 1px rgba(255, 255, 255, 0.75);
}

.modal_content form {
    margin: 30px;
}

.main {
    flex-grow: 1;
    width: 70%;
    height: auto;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: 3rem;
    transition-property: background, box-shadow;
    transition-duration: 4s;
    padding: 3rem;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.close {
    color: rgba(255, 255, 255, 0.5);
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.login_trigger {
    cursor: pointer;
}

#wrapper {
    transition: 2s filter linear;
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
}

.login_input {
    color: white;
    outline: none;
    background: transparent;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 15px;
    transition: 0.5s;
}

.login_input:hover {
    border-bottom: 1px solid white;
}

.modal_content button,
#sign_up {
    font-size: 14px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 0.2s;
}

.modal_content button:hover,
#sign_up:hover {
    color: black;
    background: white;
    cursor: pointer;
}

.modal_content h1 {
    margin-top: 30px;
    font-size: 3em;
}

#login_warning {
    color:rgb(200, 0, 0);
    margin-top: 20px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}