.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition-property: opacity, box-shadow:
    transition-duration: 3s;
    white-space: nowrap;
    text-align: center;
}

.modal-content {
    text-align: center;
    background: radial-gradient( circle,
                                 rgba(30, 35, 44, 1) 0%,
                                 rgba(13, 13, 13, 1) 100%
                               );
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
    padding: 20px 20px 50px;
    display: inline-block;
    transition: 4s;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content:hover {
    box-shadow: 10px 0px 55px 1px rgba(255, 255, 255, 0.75);
}

.modal-content form {
    margin: 30px;
}

.close {
    margin: 10px;
    color: rgba(255, 255, 255, 0.5);
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.login_trigger {
    cursor: pointer;
}

#wrapper {
    transition: 2s filter linear;
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
}
