.navigation_bar {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}
.navbar-fixed-top.scrolled {
  background-color: rgba(22, 27, 30, 1);
  transition: background-color 200ms linear;
}

.navigation_bar ul {
    list-style: none;
    margin-left: 50px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation_bar li {
    margin-left: 15px;
    float: right;
    height: auto;
}

.navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
