#product-detail {
    height: auto;
    margin: 3rem auto;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    border-radius: 3rem;
    transition-property: background, box-shadow;
    transition-duration: 4s;
    max-width: 50%;
    padding: 3rem;
}

#product-detail > h2 {
    font-weight: bold;
    font-size: 250%;
    margin-bottom: 20px;
}

#product-detail > hr {
    margin: 8px 0 8px 0;
    opacity: 0.3;
}

#product-detail > div {
    display: flex;
}

.bordered-info {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#product-detail-info {
    text-align: justify;
    margin-left: 1rem;
}

#product-detail-description { 
    margin-bottom: 1rem;
}

#product-detail-price > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#product-detail-price-date {
    font-size: 0.8rem;
}

#product-detail-specification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#product-detail-price-history {
    display: block !important;
    text-align: center;
}