#product-list {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.responsive-table-wrapper {
    overflow-x: auto;
    box-shadow: 10px 0px 55px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 15px;
}

#product-list table {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
}

#product-list table th {
    padding: 1rem;
    white-space: nowrap;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.3);
}

#product-list table td {
    padding: 1rem;
}

#product-list table tr:not(:last-child) td {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#product-list table td a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.productImg {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
  }