{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/forum_index.css' %}" >
{% endblock %}

{% block content %}
<div class="forum_index_content">
{% for category in categories %}
    <div class="forum_topic_wrapper">

        <a class="forum_topic" href="{% url 'forum:forum_list' pk=category.pk %}">
            <i class="fas fa-comment-alt fa-2x"></i>
            <div class=forum_topic_info>
                <div class="forum_topic_title">{{ category.title }}</div>
                <div class="forum_topic_description">{{ category.description }}</div>
            </div>
        </a>

        {% if category.latest %}
        <a class="forum_latest_thread" href="{% url 'forum:forum_detail' pk=category.latest.pk %}">
            <div class="forum_latest_thread_title">{{ category.latest.title }}</div>
            <div class="forum_topic_description">{{category.latest.description}}</div>
        </a>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}
