{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout2.css' %}" >
{% endblock %}

{% block content %}
<div class="main">

    <h1>{% trans "Forum" %}</h1>
    <br>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ category.url }}">
                    <h2>{{ category.title }}</h2>
                </a>
                {%if perms.articles.change_forum_category and category.pk %}
                    <a href="{% url 'forum:update_forum_category' pk=category.pk %}">{% trans "Edit category" %}</a>
                {%endif%}

                {% for forum in category.forums %}
                    <a href="{% url 'forum:forum_detail' pk=forum.pk %}">
                        <h3> {{ forum.title }} </h3>
                    </a>
                    <p> {{ forum.description }} </p>
                    <br>
                {% endfor %}

                <br><br>

            </li>
        {% endfor %}
    </ul>

    <br>
        {%if perms.articles.add_forum_category %}
            <a href="{% url 'forum:create_forum_category' %}">{% trans "Create new forum category" %}</a>
        {%endif%}
    <br>
</div>
{% endblock %}
