{% for comment in comments %}
    <li>
    {{user}}
    <div class="comment">
        <img class=comment_profile_pic src="{{comment.author.image.url}}">
        <div class="comment_content">	
            <div class= "comment_header">	
                <div class="comment_nickname">{{comment.author.nickname}}</div>
                <div class="comment_date">{{comment.date}}</div>
            </div>
            <div class="comment_text">{{comment.text}}</div>

            {% if user.is_authenticated %}
                <button class="comment_section_button" id="button_comment_{{comment.id}}" onclick="showReply('comment_{{comment.id}}')">Reply</button>

                <div id="comment_{{comment.id}}" style="display: none" >
                    <form id="{{comment.id}}" class="comment_reply_form" method="POST">
                        {% csrf_token %}
                        <textarea required rows=1 placeholder="Add a reply"></textarea>
                        <button class="comment_section_button">Reply</button>
                    </form>
                </div>

                <script>
                    function showReply(comment_id) {
                        var x = document.getElementById(comment_id);
                        x.style.display = "block";

                        var y = document.getElementById("button_" + comment_id);
                        y.style.display = "none";
                    }
                </script>
            {% endif %}
        </div>
    </div>

        <div class="subcomments">
            <ul>
                {% if comment.comments|length %}
                    {% include "forum_comment.html" with comments=comment.comments %}
                {% endif %}
            </ul>
        </div>
    </li>
{%endfor%}
