{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/forum_form.css' %}" >
{% endblock %}

{% block content %}
<form id ="article_form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div style="width: 80%; margin: 0 auto;">

        {% for field in form.visible_fields %}
            {% if field == form.is_open %}
            {{ field.label_tag }}
            {{ field }}<br>
            <br>
            {%else%}
            {{ field.label_tag }}
            {{ field }}
            {% endif %}
        {% endfor %}
    </div>

    <button class="article_form_btn" type="submit">{% trans 'Submit' %}</button>
</form>
{% endblock %}
