{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/forum_list.css' %}" >
{% endblock %}

{% block content %}

<div class="forum_list_topnav">
{% if is_open or perms.articles.add_forum and category_pk %}
    <a href="{% url 'forum:create_forum' pk=category_pk %}" class="new_thread_button">Nové vlákno<i class="fas fa-plus"></i></a>
{% endif %}

{%if perms.articles.change_forum_category and category_pk %}
    <a href="{% url 'forum:update_forum_category' pk=category_pk %}" class="edit_forum_button">Editovat téma<i class="fas fa-edit"></i></a>
{%endif%}
</div>

<div class="forum_list_content">

    {% if category_pk %}
        <div class="forum_category_info">
            <a class="forum_category_title" href="{% url 'forum:forum_list' pk=category_pk %}">{{title}}</a>
        </div>
    {% endif %}

    <div>
    {% for forum in forums %}
        <a class="forum_thread" href="{% url 'forum:forum_detail' pk=forum.pk %}">
            <i class="fas fa-comment-alt fa-2x"></i>
            <div class="forum_thread_name">
                <div class="forum_thread_title">{{ forum.title }}</div>
                {%if forum.description%}
                <div class="forum_thread_description">{{ forum.description }}</div>
                {%endif%}
            </div>
            <table class="forum_thread_info">
                <tr>
                    <td>Last post:</td>
                    <td>{{forum.last_date}}</td>
                </tr>
                <tr>
                    <td>Replies:</td>
                    <td>{{forum.replies_cnt}}</td>
                </tr>
            </table>

            
        </a>
    {% endfor %}
    </div>

</div>
{% endblock %}
