html,
body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: sand-serif;
}

.submitbutton {
  transition-duration: 0.4s;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: none;
}

.submitbutton:hover {
  background-color: white;
}

.nametopic {
  text-align: left;
}

.nametopic input {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

#button-container {
  text-align: center;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

#button {
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.4s;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 11rem;
  height: 2rem;
  border: none;
}

#button:hover {
  background-color: white;
  color: black;
}

#background-video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#feedback {
  resize: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-item img {
  object-fit: cover;
  height: 100vh;
}

.carousel-caption {
  font-family: "Changa", sand-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-38%);
}

.carousel-caption h1 {
  font-family: "Trade Winds", sand-serif;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

@media (max-width: 992px) {
  .carousel-caption h1 {
    font-size: 375%;
  }

  .carousel-caption h3 {
    font-size: 150%;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 300%;
  }

  .carousel-caption h3 {
    font-size: 120%;
  }
}

@media (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }
}
