html,
body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: sand-serif;
}

.carousel-item img {
  object-fit: cover;
}

#slides {
  height: 100vh;
  width: 100%;
}

#slides img {
  height: 100vh;
  width: 100%;
}

.carousel-caption {
  font-family: "Changa", sand-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-38%);
}

.carousel-caption h1 {
  font-family: "Trade Winds", sand-serif;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

@media (max-width: 992px) {
  .carousel-caption h1 {
    font-size: 375%;
  }

  .carousel-caption h3 {
    font-size: 150%;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 300%;
  }

  .carousel-caption h3 {
    font-size: 120%;
  }
}

@media (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  #slides {
  }

  #slides img {
  }
}
