{% extends 'base.html' %}


        {% block content %}
    <div style="width:800px; padding-top: 50px ; margin:0 auto;">

<h1 style="width:150px; margin:0 auto;">Articles</h1>
<ul>
{% for article in object_list %}
    <li>
        <h1>{{ article.title }}</h1>
        {{ article.text }}
        <br>
                <h3>Autor: {{ article.author }}</h3>
                {%if article.author == user%}
                  <a href="{% url 'articles:article_update' pk=article.pk %}">Edit article</a>
                  {%endif%}
                <br>
                <br>

    </li>
{% empty %}
    <li>No articles created.</li>
{% endfor %}
</ul>

<br>
<a href="{% url 'articles:article_create' %}">Create new article</a>
<br>
<a href="{% url 'index' %}">Back</a>
    </div>
        {% endblock %}
