{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}" >
{%endblock%}

{%block content%}
<div class="article-detail">
	<div class="article">
		<h2>{% trans "Title:" %} {{ article.title }}</h2><br>
		<p>{{ article.text | safe }}</p>
	</div>

{% if article.allow_comments %}
	<div class="comment_section">
		{% for comment in comments %}
			<div class="comment">
				<img class=comment_profile_pic src="{{comment.user.image.url}}">
				<div class="comment_nickname">{{comment.user.nickname}}</div>
				<div class="comment_date">{{comment.date}}</div>
				<div class="comment_text">{{comment.text}}</div>
				{%for response in comment.responses %}
				<div class="comment_response">
					<img class=comment_profile_pic src="{{response.user.image.url}}">
					<div class="comment_nickname">{{response.user.nickname}}</div>
					<div class="comment_date">{{response.date}}</div>
					<div class="comment_text">{{response.text}}</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
</div>
{% endblock %}