
{% extends 'base.html' %}
{%block content%}
    <div style="width:800px; padding-top: 50px ; margin:0 auto;">

<form method="post">{% csrf_token %}

    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<a href="{% url 'articles:article_list' %}">Back</a> <br>
    </div>
{% endblock %}