{% extends 'base.html' %}
{% load static %}
{%block include%}
  <link rel="stylesheet" href="{% static 'css/article_form.css' %}" />
{% endblock %}

{%block content%}
<form id ="article_form" method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Submit">
</form>

<a class = "back" href="{% url 'articles:article_list' %}">Back</a> <br>
    </div>
{% endblock %}