{% extends 'base.html' %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/articles.css' %}" >
{% endblock %}

{% block content %}
<div class="articles_content">
    <div class="articles_topnav">
        {%if perms.articles.change_article %}
        <a href="{% url 'articles:article_create' %}" class="new_article_button">Create article<i class="fas fa-plus"></i></a>
        <a href="#" class="new_category_button">Add category<i class="fas fa-list"></i></a>
        {%endif%}

        <form class="article_search">
            <input type="text" placeholder="Search articles">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="articles_categories">
        <button class="slider_button slider_back">
            <i class="fas fa-angle-left fa-3x"></i>
        </button>
        
        <div class="articles_categories_slider_menu">
            <div class=articles_categories_wrapper>
                <button class="article_category article_category_active">Vše</button>
                
                {% for category in categories %}
                <button class="article_category">{{category}}</button>
                {% endfor %}
            </div>
        </div>

        <button class="slider_button slider_next">
            <i class="fas fa-angle-right fa-3x"></i>
        </button>
    </div>

    <div class="articles_list">
        {% include "articles_by_category.html" with articles=object_list %}
    </div>
</div>

<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
