{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}" >
{%endblock%}

{%block content%}
<div class="article-detail">
	<div class="article">
		<h2>{% trans "Title:" %} {{ article.title }}</h2><br>
		<p>{{ article.text | safe }}</p>
	</div>

{% if article.allow_comments %}
	<div class="comment_section">
		{% for comment in comments %}
			<div class="comment">
				<img class=comment_profile_pic src="{{comment.user.image.url}}">
				<div class="comment_content">	
					<div class= "comment_header">	
						<div class="comment_nickname">{{comment.user.nickname}}</div>
						<div class="comment_date">{{comment.date}}</div>
					</div>
					<div class="comment_text">{{comment.text}}</div>
					<button class="reply_button">Reply</button>
				</div>
			</div>
			<div class="comment_reply">
				{%for reply in comment.replies %}
				<div class="comment">
					<img class=comment_profile_pic src="{{reply.user.image.url}}">
					<div class="comment_content">
						<div class= "comment_header">	
							<div class="comment_nickname">{{reply.user.nickname}}</div>
							<div class="comment_date">{{reply.date}}</div>
						</div>
						<div class="comment_text">{{reply.text}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
</div>
{% endblock %}