{% extends 'base.html' %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout2.css' %}" >
{% endblock %}

        {% block content %}
        <div class="main">

<h1>Articles</h1>
<br>
<ul>
{% for article in object_list %}
    <li>
        <h2>{{ article.title }}</h2>
        {%if article.thumbnail%}
        <img style = "display: block; margin-left: auto; margin-right: auto;" src = "{{article.thumbnail.url}}">
        {%endif%}
        <div class="article_content">{{ article.text | safe }}</div>
        <br>
                <h3>Autor: {{ article.author }}</h3>
                {%if article.author.profile.image%}
                <img style = "display: block; margin-left: auto; margin-right: auto;" src = "{{article.author.profile.image.url}}">
                {%else%}
                <img style = "display: block; margin-left: auto; margin-right: auto;" src = "{% get_media_prefix %}default.jpg">
                {%endif%}
                <br>
                {%if article.author == user%}
                  <a href="{% url 'articles:article_update' pk=article.pk %}">Edit article</a>
                  {%endif%}
                <br>
                <br>

    </li>
{% empty %}
    <li>No articles created.</li>
{% endfor %}
</ul>

<br>
            {%if user.is_authenticated%}
                <a href="{% url 'articles:article_create' %}">Create new article</a>
            {%else%}
                <a id="login_trigger" onclick="openDialog()"><i class="fas fa-user"></i> Login to create an article </a>
            {%endif%}
<br>
                                    </div>
        {% endblock %}
