{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block include%}
<link rel="stylesheet" href="{% static 'css/article_form.css' %}" />
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{%block content%}
<form id ="article_form" method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="{% trans "Submit" %}">
</form>

<a class = "back" href="{% url 'articles:article_list' %}">{% trans "Back" %}</a> <br>
    </div>
{% endblock %}