{% load i18n %}
{% for article in articles %}

{% if article.article_state == 1 or perms.articles.change_article %}


{% if article.article_state == 1 %}
<div class="article_preview">
{% else %}
<div class="article_preview article_hidden">
{%endif%}

    {%if article.thumbnail%}
    <img class="preview_thumbnail" src="{{article.thumbnail.url}}">
    {%endif%}
    <a href="{% url 'articles:detail' slug=article.slug %}" class="preview_content">
        <div class="preview_title">{{article.title}}</div>
        <div class="preview_info">
            {%if article.author.profile.image%}
            <img class="preview_author_profile_image" src="{{article.author.profile.image.url}}">
            {%endif%}
            <div class="preview_author_nickname">{{article.author.profile.nickname}}</div>
            <div class="preview_modified">{{article.modified}}</div>
        </div>
        <div class="preview_text">{{ article.preview_text | safe | default_if_none:"" }}</div>
    </a>
    {%if perms.articles.change_article%}
    <div class="article_preview_tags">
        {%for tag in article.article_tags%}
        <div class="article_tag">{{tag}}</div>
        {%endfor%}
    </div>
    <div class="preview_utilities">

        {% if article.article_state == 1 %}
        <a class="preview_hide_button" href="#">{%trans "Hide"%}</a>
        {% else %}
        <a class="preview_publish_button" href="#">{%trans "Publish"%}</a>
        {%endif%}


        <a class="preview_edit_button" href="{% url 'articles:article_update' pk=article.pk %}">{%trans "Edit"%}</a>
        <a class="preview_delete_button" href="#">{%trans "Delete"%}</a>
    </div>
    {%endif%}
</div>
{%endif%}
{% endfor %}