{% load i18n %}
{% for article in articles %}

    {% if article.article_state == 1 or perms.articles.change_article %}


        {% if article.article_state == 1 %}
            <div class="article_preview">
        {% else %}
            <div class="article_preview article_hidden">
        {%endif%}

                {%if article.thumbnail %}
                    <img class="preview_thumbnail" src="{{article.thumbnail.url}}">
                {%endif%}
                <a href="{% url 'articles:detail' slug=article.slug %}" class="preview_content">
                    <div class="preview_title">{{article.title}}</div>
                    <div class="preview_info">
                        {%if article.author.profile.image%}
                        <img class="preview_author_profile_image" src="{{article.author.profile.image.url}}">
                        {%endif%}
                        <div class="preview_author_nickname">{{article.author.profile.nickname}}</div>
                        <div class="preview_modified">{{article.modified}}</div>
                    </div>
                    <div class="preview_text">{{ article.preview_text | safe | default_if_none:"" }}</div>
                </a>
                <div class="article_preview_tags">
                    {%for tag in article.article_tags%}
                        <div class="article_tag">{{tag}}</div>
                    {%endfor%}
                </div>
                {%if perms.articles.change_article%}
                    <div class="preview_utilities">

                        {% if article.article_state == 1 %}
                        <button class="preview_hide_button" id="{{ article.id }}">{%trans "Hide"%}</button>
                        {% else %}
                        <button class="preview_publish_button" id="{{ article.id }}">{%trans "Publish"%}</button>
                        {%endif%}


                        <a class="preview_edit_button" href="{% url 'articles:article_update' pk=article.pk %}">{%trans "Edit"%}</a>
                        <button class="preview_delete_button" id="{{ article.id }}">{%trans "Delete"%}</button>
                    </div>
                {%endif%}
            </div>
    {%endif%}
{% endfor %}

{%if perms.articles.change_article%}
<script>
    function hide_function(event) {
        event.preventDefault();
        ref = $(this)
        $.ajax({
                type:'POST',
                async: true,
                cache: false,
                url:'{% url "articles:hide_article" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    article_id: ref.attr('id')
                },
                success: function(data) {
                    ref.attr('class', "preview_publish_button");
                    ref.text('{%trans "Publish" %}');
                    ref.parents().eq(1).addClass("article_hidden");
                    ref.one('click', publish_function);
                }
            });
    };

    function publish_function(event) {
        event.preventDefault();
        ref = $(this)
        $.ajax({
                type:'POST',
                async: true,
                cache: false,
                url:'{% url "articles:publish_article" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    article_id: ref.attr('id')
                },
                success: function(data) {
                    ref.attr('class', "preview_hide_button");
                    ref.text('{%trans "Hide"%}');
                    ref.parents().eq(1).removeClass("article_hidden");
                    ref.one('click', hide_function);
                }
            });
    };

    $(".preview_hide_button").one('click' ,hide_function);
    $(".preview_publish_button").one('click', publish_function);
</script>


<script>
    $(".preview_delete_button").click(function(event) {
        event.preventDefault()
        if ($(this).hasClass("delete_confirmation")) {
            ref = $(this)
            $.ajax({
                type:'POST',
                async: true,
                cache: false,
                url:'{% url "articles:article_delete" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    article_id: ref.attr('id')
                },
                success: function(data) {
                    ref.parents().eq(1).remove()
                }
            });
        }else {
            $(this).text('{%trans "Confirm"%}')
            $(this).addClass("delete_confirmation")
        }
    })
</script>
{%endif%}
