<div class="comment_wrapper">
    <div class="comment">
        <img class=comment_profile_pic src="{{comment.user.image.url}}">
        <div class="comment_content">	
            <div class= "comment_header">	
                <div class="comment_nickname">{{comment.user.nickname}}</div>
                <div class="comment_date">{{comment.date}}</div>
            </div>
            <div class="comment_text">{{comment.text}}</div>
            <button class="comment_section_button">Reply</button>
        </div>
    </div>
</div>