{% load static %}

<div class="comment_wrapper">
    <div class="comment">
        <img class=comment_profile_pic src="{{comment.user.image.url}}">
        <div class="comment_content">	
            <div class= "comment_header">	
                <div class="comment_nickname">{{comment.user.nickname}}</div>
                <div class="comment_date">{{comment.date}}</div>
            </div>
            <div class="comment_text">{{comment.text}}</div>
            {% if user.is_authenticated %}
            <form id="{{comment.id}}" class="comment_reply_form" method="POST">
                {% csrf_token %}
                <textarea required rows=1 placeholder="Add a reply"></textarea>
                <button class="comment_section_button">Reply</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="comment_reply"></div>
</div>

<script src="{% static 'js/articles_detail.js' %}"></script>
<!-- Reply to a comment -->
<script>
    $(".comment_reply_form").submit(function(event) {
        event.preventDefault();
        ref = $(this)
        $.ajax({
            type:'POST',
            async: true,
            cache: false,
            url:'{% url "articles:post_reply" %}',
            data: {
                csrfmiddlewaretoken: $(this).find("input[type='hidden']").val(),
                article: "{{ article.id }}",
                text: $(this).find("textarea").val(),
                comment_id: ref.attr('id')
              },
              success: function(data) {
                ref.parents().eq(2).find(".comment_reply").prepend(data)
                ref.find("textarea").val('')
              }
          });
    })
</script>