<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="{% static 'css/layout1.css' %}" >
      <link rel="stylesheet" href="{% static 'css/layout2.css' %}">
      <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
      <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
      <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  </head>
  <body>

    <button class="chat"><i class="fas fa-comments fa-2x"></i></button>

    <div class="sidebar">
       <ul class="sidebar-options">
          {% if user.is_authenticated %}
                <li><a href= "{% url 'profile' %}"><i class="fas fa-user"></i> Profil</a></li>
          {% else %}
                <li><a href= "{% url 'login' %}"><i class="fas fa-user"></i> Login</a></li>
          {% endif %}

        <li><a href="#"><i class="fas fa-envelope"></i> Odkaz</a></li>
        <li><a href="#"><i class="fas fa-calendar-week"></i> Odkaz</a></li>
        <li><a href="#"><i class="fas fa-link"></i> Odkaz</a></li>
      </ul>

      <ul class="sidebar-options bottom">
        <li><a href="#"><i class="fas fa-circle color"></i> Barva</a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i> Odkaz</a></li>

          {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><i class="fas fa-power-off"></i> Logout </a></li>
          {% endif %}
      </ul>
    </div>


    <nav class="navigation_bar">
      <ul>
          {% if user.is_authenticated %}

          {% else %}
            <li><a href="{% url 'register' %}">Registrace</a></li>
            <li><a href="{% url 'login' %}">Přihlášení</a></li>
          {% endif %}

        <li><a href="{% url 'contact:contact' %}">Kontakt</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="{% url 'articles:article_list' %}">Blog</a></li>
        <li><a href="#">O nás</a></li>



      </ul>
    <ul>
           {% if messages %}
    {% for message in messages %}

          <li> <a>{{ message }} </a></li>
    {% endfor %}
            {% endif %}
    </ul>
    </nav>

        <div class="content">
                <div class="header">
                     <a href = "{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
                </div>
        {% block content %}
        {% endblock %}
        </div>

  </body>
</html>