<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block include %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class = "contact_form">
            <h1>{% trans "Contact" %}</h1>
            <h3>
            Máte nápad, na co bychom neměli zapomenout, nebo se s námi jen chcete
            spojit? Využijte kontaktní formulář. Vašich rad si ceníme!
            </h3>
          <form method="post">
            {% csrf_token %}
              <div >
              {{ form.subject }}
              </div>
            <div >
              {{ form.message }}
            </div>
              <button type="submit">{% trans "Send" %}</button>
          </form>
        </div>
    {%else%}
    <h3>
        Pro kontakt je nutné se přihlásit.
    </h3>
    {%endif%}
{% endblock %}
