<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="carousel-caption">
      <h1 class="display-2">{% trans "Contact" %}</h1>
      <h3>
        Máte nápad, na co bychom neměli zapomenout, nebo se s námi jen chcete
        spojit? Využijte kontaktní formulář. Vašich rad si ceníme!
      </h3>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
          <form method="post">
            {% csrf_token %}
            <div class="form-group nametopic">
              {{ form.name }}
              {{ form.topic }}
            </div>
            <div class="form-group">
              {{ form.message }}
            </div>
            <div class="col-lg-12">
              <button type="submit" class="submitbutton">{% trans "Send" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {%else%}
       <div class="modal-content">
        <span class="close">&times;</span>
         <form method = "POST" action = "{% url 'login' %}?next={{ request.path }}">
           {% csrf_token %}
           <h1>{% trans "User name" %}</h1>
              {{ login_form.username }}
           <h1>{% trans "Password" %}</h1>
           {{ login_form.password }}
           <br>
           <br>

           <button type = "submit">{% trans "Login" %}</button>
         </form>
                <div>
                <small>{% trans "Need an Account?" %} <a href = "{% url 'register' %}">{% trans "Sign up" %}</a></small>
        </div>
      </div>
    {%endif%}
{% endblock %}
