<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<body>
  {%block content %}


      <div class="right">
        <ul class="preview">
            {% for article in object_list %}
            <li><h1>{{ article.title }}</h1><div class="preview-thumb"><img src="{% static 'img/universe.jpg' %}"></div><div class="preview-content">{{ article.text|slice:":100" }}<br><a href = "#">Read More</a></div></li>
            {% empty %}
                <li>No articles created.</li>
            {% endfor %}
        </ul>
      </div>

      <div class="left">
          {% for article in object_list %}
                {%if forloop.last %}
        <h1>{{ article.title }}</h1>
          <br>
        <img src="{% static 'img/universe.jpg' %}">
        <p>{{ article.text }}</p>

        <br>
        <h3>Autor: {{ article.author }}</h3>

                {% endif %}
          {% empty %}
            <h1>No articles created.</h1>
          {% endfor %}
      </div>
  {% endblock %}
</body>
</html>

