{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout1.css' %}" >
{% endblock %}

{%block content %}
  <div class="right">
    <div class="article_previews">
        {% for article in object_list %}
        <div class="preview">
          <h1 class="preview_title">{{ article.title }}</h1>
          <div class="preview_header">
            {{article.modified}}
          </div>
          <a href = "{% url 'articles:detail' slug=article.slug %}">
            <div class="preview_content">
              {% if article.thumbnail %}
              <div class="preview_thumb">
                <img src="{{article.thumbnail.url}}">
              </div>
              {%endif%}

              <div class="preview_text">
                {{ article.preview_text | safe | default_if_none:"" }}<br>
              </div>
            </div>
          </a>
        </div>

        {% empty %}
          {% trans "No articles created." %}
        {% endfor %}
      </div>
  </div>



  <div class="left">
    {% for article in object_list %}
      {%if forloop.last %}
        <h1>{{ article.title }}</h1><br>
        <p>{{ article.text | safe}}</p><br>
        <h3>{{ article.author.label }} {{ article.author }}</h3>
      {% endif %}

        {% empty %}
        <h1>{% trans "No articles created." %}</h1>
    {% endfor %}
  </div>
{% endblock %}
