{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout1.css' %}" >
{% endblock %}

{%block content %}
  <div class="right">
    <ul class="preview">
        {% for article in object_list %}
        <li>
          <h1>{{ article.title }}</h1>
          <a href = "{% url 'articles:detail' slug=article.slug %}">
            <div class="preview-thumb">
              <img src="{% static 'img/universe.jpg' %}">
              <div class="preview-content">
                {{ article.preview_text | safe | default_if_none:"" }}<br>
              </div>
            </div>
          </a>
        </li>

          {% empty %}
          <li>{% trans "No articles created." %}</li>
        {% endfor %}
    </ul>
  </div>



  <div class="left">
    {% for article in object_list %}
      {%if forloop.last %}
        <h1>{{ article.title }}</h1><br>
        <p>{{ article.text | safe}}</p><br>
        <h3>{{ article.author.label }} {{ article.author }}</h3>
      {% endif %}

        {% empty %}
        <h1>{% trans "No articles created." %}</h1>
    {% endfor %}
  </div>
{% endblock %}
