{% extends 'base.html' %}
{% load static %}
{% block include %}
{% load i18n %}


<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{%block content %}

<div class="profile_content">

        {%if user.profile.image%}
        <img class="profile_image" src="{{ user.profile.image.url }}">
        {%else%}
        <img class="profile_image" src="{% get_media_prefix %}default.jpg">
        {%endif%}
        <form method="POST" enctype="multipart/form-data">
            <label style="font-size: 23px;">Obrázek: {{p_form.image}} </label>
        <div class="profile_main">
        <h1>{% trans "Account info" %}</h1>
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>

            <input class="profile_btn" type="button" onclick="location.href='{% url 'change_password' %}'" value="Změna hesla" />

            <input class="profile_btn" type="button" onclick="location.href='{% url 'change_email' %}'" value="Změna emailu" />

            {% csrf_token %}
            <h1>{% trans "Informace o uživateli" %}</h1>
                {% for field in p_form %}
            {% if field != p_form.image %}
                {{field.label_tag }}
                {{ field }}
            {% endif %}
            {% endfor %}


            <button class="profile_btn" type="submit">Aktualizovat</button>
        </div>
        </form>
</div>

{% endblock %}