{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block include %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}
{%block content %}

        <div class="profile_content">

            <!-- Registration form -->
            <div class="profile_form">
                                <form method = "POST" enctype="multipart/form-data">


                    <h1>{% trans "Account info" %}</h1>

    <h3>{{ user.username }}</h3>
    <p>{{ user.email }}</p>

        <form>
         <input class="profile_btn" type="button" onclick="location.href='{% url 'change_password' %}'" value="Change Password"/>
        </form>

        <form>
         <input class="profile_btn" type="button" onclick="location.href='{% url 'change_email' %}'" value="Change Email"/>
        </form>
                    {% csrf_token %}
                <h1>{% trans "Profile info" %}</h1>
                {%if user.profile.image%}
                <img style = "display: block; margin-left: auto; margin-right: auto;" src = "{{ user.profile.image.url }}">
                {%else%}
                <img style = "display: block; margin-left: auto; margin-right: auto;" src = "{% get_media_prefix %}default.jpg">
                {%endif%}
                    {{ p_form.as_p }}

                    <div>
                        <button type = "submit">{% trans "Update" %}</button>
                    </div>
                </form>

            </div>
    </div>


{% endblock %}
