{% extends 'base.html' %}
{% load i18n %}

{%block content %}

    <div>
      <div class="login_form_content">

        <h1>{% trans "Login" %}</h1>

        <form id="login_form" method = "POST">
            {% csrf_token %}
            {{ login_form.username }}
            {{ login_form.password }}
            <a href="{% url 'password_reset' %}" class = "password_reset">Zapomenuté heslo</a>
            <br>
            <br>

            <button type = "submit">{% trans "Login" %}</button>
            <a id="sign_up" href = "{% url 'register' %}">{% trans "Sign Up" %}</a>
        </form>
          {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div style="color:red; padding-top:10px;">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
          {% endif %}
      </div>
    </div>
{% endblock %}
