{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    </head>

        <div class="registration_content">



            <!-- Registration form -->
            {% if form %}
            <div class="registration_form">
                <form method = "POST">
                    {% csrf_token %}
                    <h1>{% trans "Set password" %}</h1>
                    {{ form.as_p }}

                    <div>
                        <button type = "submit">{% trans "Confirm" %}</button>
                    </div>
                </form>
            </div>
            {% else %}
            <h1>{% trans "Link has expired." %}</h1>
            {% endif %}
    </div>

{% endblock %}

