<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{%block content %}
    <div >
        <form method = "POST">
            {% csrf_token %}
            <fieldset >
                <legend>
                    Join Today
                </legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type = "submit">Sign Up</button>
            </div>
        </form>
        <div>
            <small >
                Already Have an account? <a  href="{% url 'login' %}"> Sign In </a>
            </small>
        </div>
    </div>
{%endblock content %}

</body>
</html>