{% extends 'base.html' %}
{% load static %}
{%block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    </head>

        <div class="registration_content">



            <!-- Registration form -->
            <div class="registration_form">
                <form method = "POST">
                    {% csrf_token %}
                    <h1>Registrace</h1>
                    {{ form.as_p }}

                    <div>
                        <button type = "submit">Potvrdit</button>
                    </div>
                </form>

            </div>
    </div>

{% endblock %}

