{% extends 'base.html' %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout_shopIndex.css' %}" >
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
{% endblock %}

{%block content %}
	<div class="shopOrderBox">
	{% if request.session.orderList == None %}
		Košík je prázdný
	{% else %}
		<table class = "cartTable" cellspacing="0" cellpadding="0">
		<caption><i class="fas fa-shopping-cart"></i> Košík</caption>
		<tr class="cartTableRow">
		<th class="cartTableCol" colspan="2">Zboží</th>
		<th class="cartTableCol">Množství</th>
		<th class="cartTableCol">Cena</th>
		<th class="cartTableCol" >Přidat</th>
		<th class="cartTableCol" >Odebrat</th>
		<th class="cartTableCol" >Zrušit</th>

	  </tr>
		{% for orderItem in orderItems %}
		<tr class="cartTableRow">
			<td class="cartTableColMerge">
				<img class=shopOfferImageCart src="{{ orderItem.0.itemImg.url }}">
			</td>
			<td class="cartTableColMerge"> {{ orderItem.0.itemName }} </td>
			<td class="cartTableCol"> {{ orderItem.1 }}  </td>
			<td class="cartTableCol"> {{ orderItem.0.itemPrice }} </td>
			<td class="cartTableCol"><a href="{% url 'eshop:cartItemAdd' pk=orderItem.0.pk %}"><i class="fas fa-plus"></i></a> </td>
			<td class="cartTableCol"><a href="{% url 'eshop:cartItemRemove' pk=orderItem.0.pk %}"><i class="fas fa-minus"></i></a> </td>
			<td class="cartTableCol"><a href="{% url 'eshop:cartItemDiscard' pk=orderItem.0.pk %}"><i class="fas fa-times"></i></a> </td>
			</tr>
		{% endfor %}
	</table>
	<br>
	<a href="{% url 'eshop:cartItemsDiscard' %}"><i class="fas fa-trash"></i> Smazat vše</a> <br>
	<div class="cartBottom">
		Celková cena: {{ totalPrice }} <br>
		<input class="order_btn" type="button" onclick="location.href='{% url 'eshop:manageOrderCreate' %}'" value="Objednat"/>
	</div>
	{% endif %}

</div>

<div class="shopItemBox">
<ul>
	{% for shopItem in object_list %}
	{% if shopItem.itemActive == True %}
    <li>
		{%if shopItem.itemType != 2 %}
		<div class="shopSpecialItem shopSpecial{{ shopItem.itemType }}">{{ shopItem.get_itemType_display }}</div>
		{% endif %}
		<div class="shopOfferItem">	
			<div class="shopOfferImage">
				<img class=shopOfferImage src="{{ shopItem.itemImg.url }}">
			</div>
			<div class="shopOfferText">
				<span class="shopOfferName">{{ shopItem.itemName }}</span>
				<div class="shopOfferDesc">{{ shopItem.itemDesc }}</div>
			</div>
			<div class="shopOfferControl">
				<div>{{ shopItem.itemPrice }}</div>
				<div><a href="{% url 'eshop:cartItemAdd' pk=shopItem.pk %}">Objednat</a></div>
			</div>
		</div>
	</li>
	{% endif %}
    {% endfor %}
</ul>
</div>
{% if perms.eshop.add_shopitem %}
<div>
	<a href="{% url 'eshop:manageShopCreate' %}">Nový produkt</a>
</div>
{% endif %}
{% if perms.eshop.view_shopitem %}
<div>
	<a href="{% url 'eshop:manageShopList' %}">Zobrazit seznam produktů</a>
</div>
{% endif %}
{% endblock %}
