{% extends 'base.html' %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/layout_shopIndex.css' %}" >
{% endblock %}

{%block content %}
<div class="shopOrderBox">
	{% if request.session.orderList == None %}
		Košík je prázdný
	{% else %}
		{% for orderItem in orderItems %}
			{{ orderItem.0.itemName }} {{ orderItem.1 }}
		{% endfor %}
	{% endif %}
	Celková cena: {{ totalPrice }}
</div>

<div class="shopItemBox">
<ul>
	{% for shopItem in object_list %}
	{% if shopItem.itemActive == True %}
    <li>
		{%if shopItem.itemType != 2 %}
		<div class="shopSpecialItem shopSpecial{{ shopItem.itemType }}">{{ shopItem.get_itemType_display }}</div>
		{% endif %}
		<div class="shopOfferItem">	
			<div class="shopOfferImage"></div>
			<div class="shopOfferText">
				<span class="shopOfferName">{{ shopItem.itemName }}</span>
				<div class="shopOfferDesc">{{ shopItem.itemDesc }}</div>
			</div>
			<div class="shopOfferControl">
				<div>{{ shopItem.itemPrice }}</div>
				<div><a href="./add?id={{ shopItem.pk }}">Objednat</a></div>
			</div>
		</div>
	</li>
	{% endif %}
    {% endfor %}
</ul>
</div>
{% endblock %}
