{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/eshop.css' %}" >
{%endblock%}

{%block content %}
{% if object_list %}
<div class="divTable blueTable">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">{% trans "First name" %}</div>
			<div class="divTableHead">{% trans "Last Name" %}</div>
			<div class="divTableHead">{% trans "Email" %}</div>
			<div class="divTableHead">{% trans "City" %}</div>
			<div class="divTableHead">{% trans "Street" %}</div>
			<div class="divTableHead">{% trans "Street Number" %}</div>
			<div class="divTableHead">{% trans "Post Number" %}</div>
			<div class="divTableHead">{% trans "Payed" %}</div>
			<div class="divTableHead"></div>
			<div class="divTableHead"></div>
		</div>
	</div>
	<div class="divTableBody">
		{% for order in object_list %}
		<div class="divTableRow">
			<div class="divTableCell">{{ order.orderFirstName }}</div>
			<div class="divTableCell">{{ order.orderLastName }}</div>
			<div class="divTableCell">{{ order.orderEmail }}</div>
			<div class="divTableCell">{{ order.orderAddressCity }}</div>
			<div class="divTableCell">{{ order.orderAddressStreet }}</div>
			<div class="divTableCell">{{ order.orderAddressStreetNumber }}</div>
			<div class="divTableCell">{{ order.orderAddressPostNumber }}</div>
			<div class="divTableCell">{{ order.isPaid }}</div>
			<div class="divTableCell"><a href="{% url 'eshop:manageOrderPay' pk=order.pk %}">{% trans "Pay" %}</a></div>
			<div class="divTableCell"><a href="{% url 'eshop:manageOrderRemove' pk=order.pk %}">{% trans "Delete" %}</a></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
