{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}" >
{%endblock%}

{%block content %}
{% if object_list %}
<div id="product-list">
	<div class="responsive-table-wrapper">
		<table>
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Price" %}</th>
					<th>{% trans "Image" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Type" %}</th>
					<th>{% trans "Active" %}</th>
					<th>{% trans "Action" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for shopItem in object_list %}
				<tr>
					<td>{{ shopItem.itemName }}</td>
					<td>{{ shopItem.itemPrice }}</td>
					<td><a href="{{ shopItem.itemImg.url }}"><img class=productImg src="{{ shopItem.itemImg.url }}"></a></td>
					<td>{{ shopItem.itemDesc }}</td>
					<td>{{ shopItem.get_itemType_display }}</td>
					<td>{{ shopItem.itemActive }}</td>
					<td><a href="{% url 'eshop:manageShopUpdate' pk=shopItem.pk %}"><i class="fas fa-edit"></i> {% trans "Edit" %}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}
