{% extends 'base.html' %}
{% load static %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/eshop.css' %}" >
{%endblock%}

{%block content %}
{% if object_list %}
<div class="tableWrapper">
<div class="divTable blueTable">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">Name</div>
			<div class="divTableHead">Price</div>
			<div class="divTableHead">Image</div>
			<div class="divTableHead">Description</div>
			<div class="divTableHead">Type</div>
			<div class="divTableHead">Active</div>
			<div class="divTableHead"></div>
		</div>
	</div>
	<div class="divTableBody">
		{% for shopItem in object_list %}
		<div class="divTableRow">
			<div class="divTableCell">{{ shopItem.itemName }}</div>
			<div class="divTableCell">{{ shopItem.itemPrice }}</div>
			<div class="divTableCell"><a href="{{ shopItem.itemImg.url }}">Obrázek</a></div>
			<div class="divTableCell">{{ shopItem.itemDesc }}</div>

			<div class="divTableCell"><button class="tag_button">{{ shopItem.get_itemType_display }}</button></div>
			<div class="divTableCell">{{ shopItem.itemActive }}</div>
			<div class="divTableCell"><a href="{% url 'eshop:manageShopUpdate' pk=shopItem.pk %}"><button class="changeButton">Upravit</button></a></div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
{% endif %}
{% endblock %}
