{% extends 'base.html' %}
{% load static %}

{%block include%}
<link rel="stylesheet" href="{% static 'css/orders_list.css' %}">
{%endblock%}

{%block content %}

{% if object_list %}
<div id="orders-list">
	<div class="responsive-table-wrapper">
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>City</th>
					<th>Street</th>
					<th>Street Number</th>
					<th>Post Number</th>
					<th>Payed</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for order in object_list %}
				<tr>
					<td>{{ order.orderFirstName }}</td>
					<td>{{ order.orderLastName }}</td>
					<td>{{ order.orderEmail }}</td>
					<td>{{ order.orderAddressCity }}</td>
					<td>{{ order.orderAddressStreet }}</td>
					<td>{{ order.orderAddressStreetNumber }}</td>
					<td>{{ order.orderAddressPostNumber }}</td>
					<td>{{ order.isPaid }}</td>
					<td><a href="{% url 'eshop:manageOrderPay' pk=order.pk %}"><i class="fas fa-dollar-sign"></i> Zaplatit</a></td>
					<td><a href="{% url 'eshop:manageOrderRemove' pk=order.pk %}"><i class="fas fa-trash"></i> Smazat</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% endblock %}